@import '@/assets/scss/theme.scss';

.ecBanner{
    background:$background-color-tertiary;
    border-radius:.60rem;
    border:2px solid $background-color-quinteary;
    color:$primary-color;
    padding:1rem;
}
@media screen and (max-width:800px){
    .ecBanner{padding:.64rem}

    
}


.ecBanner.positive{
    background:$background-positive;
    border:2px solid $background-positive-2;
    color:$primary-color;
}


.desktopFlightSelector .v-input__control{
    width:100%
}

.ecBanner.error{
    background:$background-error;
    border:2px solid $background-error-2;
    color:$primary-color;
}

.ecBanner.warning{
        background:$background-warning;
        border:2px solid $background-warning-2;
        color:$primary-color;
}

.ecBanner.mini{padding:.4rem .6rem;
    border-width:1px;
    box-shadow:0 8px 20px -8px rgba($background-color-quinteary,.3);
}

.ecBanner.mini h4{
    font-size:.8rem;
}


