@import 'theme';

.advisoryComponent{
    border-radius:.48rem;
}

.advisoryComponent .v-tab.v-tab{
    font-size:.8rem;
    color:$primary-color;
}

.advisoryComponent .iaLogo{
    margin-left:1rem;

}
.advisoryComponent .v-window__container{
    display:flex;
    flex-direction:row!important;
    align-items:center!important;
    justify-content:space-between;
}
.advisoryComponent .options{
}
.advisoryComponent .v-slide-group-item--active {
    font-weight:600;
    color:$gradient-color-stage1!important;

}

.advisoryComponent .v-btn::after{
    border:2px solid $gradient-color-stage2!important;
}
.advisoryArea{
    padding:.4rem;
    border:1px solid $background-color-secondary;
    border-radius:.64rem;
    color:$primary-color;
}
.advisoryComponent .tabsHeader{
    background:$background-color-secondary;
}
.advisoryArea .v-card-text{
    padding:.4rem;
}
.aiAdivisoryOption{
    padding:.8rem;
    margin:.4rem!important;
    border:2px solid $background-color-secondary;
    border-radius:.4rem;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    background:$background-color-secondary;
    align-items:center!important;
}


.aiAdivisoryOption.advisoryChoosed{
   border:2px solid $gradient-color-stage2;
   align-items:center!important;
}
.aiAdivisoryOption .ciaLogo{
    max-height: 20px;
    max-width: 80px;
    height: auto;
}

.flightOptionAdvisory{
    background-color: $background-color;
    padding:.6rem;
    border-radius:.5rem;;
    border:1.5px solid $background-color-tertiary;
}
.aiAdivisoryOption h3{
    font-size:1rem;
}
.aiAdivisoryOption .advisoryContent{
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
    gap:1rem;
    padding: 0.2rem 0.2rem 0.2rem 0.8rem;;
}
.aiAdivisoryOption .advisoryContent p{
    font-weight:600;
    color:$secondary-color
}

.aiAdivisoryOption .detailsfoFlightInfo{
    border-top:1px solid $background-color-tertiary;
    margin-top:.8rem;
    flex-direction:column;
    gap: 0.16rem;
    padding:0;
    padding-top:.8rem;
    align-items: flex-start;

}

@media screen and (max-width:1919px) {
    .advisoryComponent .iaLogo{margin-top:.4rem;margin-left:.4rem;}
.advisoryComponent .v-window__container{
    display:flex;
    flex-direction:column!important;
    align-items:flex-start!important;}
}

@media screen and (max-width:1279px) {
    .advisoryComponent .iaLogo{margin-bottom:.4rem;}
    
    .aiAdivisoryOption .advisoryContent{
        flex-direction:column!important;
        padding:.2rem;
        gap:.2rem;;
    }
    .advisoryComponent .aiAdivisoryOption p{
        font-size:.75rem;
    }
}

@media screen and (max-width:545px) {
    .advisoryComponent .aiAdivisoryOption h3{
        font-size:.8rem;
    }
}