
.passRecovery {align-items: flex-start;}
.passRecovery .rightSide{
    display:flex;flex-grow:3;
    flex-direction: column;
    width:50%;
}

.passRecovery .leftSide{
    display:flex;
    flex-grow:1;
    flex-direction:column;
    
}


@media screen and (max-width: 991px) {
    .passRecovery {
        width:100%;
    }
    .passRecovery .leftSide, .passRecovery .rightSide{
        width:100%;
    }
}