@import '@/assets/scss/theme';


.secureFooter{
    background-color: $background-color-tertiary!important;
}
.ec_footer{
    background-color: $color-nav;
    color:$background-color;
}
.ec_footer .footerContent{
    padding:2% 10%;
}

.ec_footer .socialNetworks{
    border:$theme-color solid 1px;
    padding:1.2rem;
    border-radius:.6rem;
    margin:0 .4rem;
}

.illustrationPlane .line{
    flex-grow:2;
    height:1px;
    background-color:$secondary-color ;
}

.ec_footer .subscription{
    background-color: $color-navlevel2;
    border-radius:.6rem;
    padding:1.2rem;
    margin:0 .4rem;
}

.ec_footer .subscription a{
    color:$background-color-quartiary;
}
.illustrationResizer{
    width:80%;
}


.flexContent{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    align-content:stretch;
    justify-content: stretch;
}

.flex-itemContainer1{
    width:30%
}
.flex-itemContainer2{
    width:70%
}



@media screen and (min-width:1800px){
.flightResults .ec_footer .footerContent{
    padding-left:1%;
    padding-right:16%;

}
}

@media screen and (max-width:1600px){
    .flightResults .ec_footer .footerContent{
        padding-left:1%;
        padding-right:4%;
    }
    }

    @media screen and (max-width:1400px){
        .flightResults .ec_footer .footerContent{
            padding-left:1%;
            padding-right:1%;
        }
        .subscription .columns{
            width:100%;
        }
        .subscription .columns.oneThird{
            width:100%;
        }
    
        .subscription .illustrationResizer{
            width:5rem
        }
        }

        @media screen and (max-width:1366px){
            .flightResults .flex-itemContainer1{
                width:40%
            }
            .flightResults .flex-itemContainer2{
                width:60%
            }
            
            .flexContent{
                display:flex;
                flex-direction:row;
                flex-wrap:nowrap;
                align-content:stretch;
                justify-content: stretch;
            }
        }

        @media screen and (max-width:1200px){
            .flightResults .flex-itemContainer1{
                width:100%;
                margin-bottom:2%;
            }
            .flightResults .flex-itemContainer2{
                width:100%
            }
            
            .flightResults .flexContent{
                font-size:.9rem;
                display:flex;
                flex-direction:column;
                flex-wrap:nowrap;
                align-content:stretch;
                justify-content: stretch;
            }
        }

        
    

@media screen and (max-width:960px){
    .ec_footer .footerContent{
        padding:2% 4%;
    }
    .hideMobile{display:none;}
    .flex-itemContainer1{
        width:100%;
        margin-bottom:2%;
    }
    .flex-itemContainer2{
        width:100%
    }
    .flexContent{
        font-size:.9rem;
        display:flex;
        flex-direction:column;
        flex-wrap:nowrap;
        align-content:stretch;
        justify-content: stretch;
    }
}


