@import '@/assets/scss/theme';

.navBar{
    background-color:$color-nav!important;
    color:$background-color!important;
}



.mobileAppNav{
    background-color:$color-nav!important;
    color:$background-color!important;
}
.navBar .v-input, .navBar .v-label{font-size:.8rem!important}

.navBar .v-input--density-default .v-field--variant-solo .v-label.v-field-label--floating, .navBar  .v-input--density-default .v-field--variant-solo-inverted .v-label.v-field-label--floating,.navBar  .v-input--density-default .v-field--variant-filled .v-label.v-field-label--floating,.navBar  .v-input--density-default .v-field--variant-solo-filled .v-label.v-field-label--floating{
    font-size:.7rem!important
}
.myAccountNavBtns .logoutBtn{

}
.mobileAppNav .header{
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding:1rem;
    padding-bottom:0;
}
.mobileAppNav .header .v-btn{
    background-color:$color-nav!important;
    color:$background-color!important;
}
.v-navigation-drawer--temporary {
    box-shadow: 0px 8px 10px -5px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 16px 24px 2px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 6px 30px 5px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12));
    border-radius: 1rem 0 0 1rem;
    margin:.4rem  0 .4rem;
}
.UsercardDetail{
    width:100%;
    display:flex;
    align-items: flex-end;
    color:$tertiary-color;
}

.userCardLine{
    display:block;
    width:90%;
    border-bottom:1.4px dashed $tertiary-color;
    margin-bottom: 2px;
}
.mobileAppNav .header .headerBottomSheet {
    font-size:.75rem;
    font-weight:700;
    text-transform: uppercase;
    letter-spacing:.1rem;
    color:$background-color
}
.myAccountSection{
    margin:1rem;
    border:1px solid $tertiary-color;
    padding:.32rem;
    border-radius:.64rem;
}
.borderArea{
    border:1px solid $secondary-colorDesat;
    background:$color-navlevel2;
    padding:1rem;
    border-radius:.48rem;
}
.myAccountSection .myAccountNavBtns{
    display:flex;
    margin-top: 0.88rem;;
    justify-content: flex-start;
    gap:.48rem;
}
.legalonNav{ margin-bottom:.6rem;display:flex;align-items:center; gap:.2rem;font-size:.5rem;color:$background-color-tertiary}
.versionState{
    font-size:.6rem;
    text-transform:uppercase;
    letter-spacing:.1em;
    color:$background-color-tertiary}
.Nav_userData{
    display:flex;
    align-items: center;
    gap:.64rem;
}

.Nav_userData .text-body{
    font-weight:600;
}
@media screen and (max-width:800px) {
    .navBar .hideTablet{
        display:none!important
    }

    .navBarMobile .v-list-item-title a{
        color:$background-color;
    }
}
@media screen and (min-width:801px) {
    .navBar .hideTablet{
        display:flex!important
    }
    .navBar .hideDesktopNav{display:none;}
}

.avatar_border{
    border:2px solid $gradient-color-stage2;
}

.navBar{
    display:flex;
    align-items: center;;
}