@import '@/assets/scss/theme';

.confirmationPage{
    
}
.confirmationContent{
    background-color:$background-color;
    border-radius:1rem;
    max-width:1200px;
    margin:0 auto;
}

.confirmationContent .foCard .foResumeContent{
    flex-direction: column;
    width:100%;
}

.confirmationContent .foCard .foResumeContent .foHeader{
    width:100%;
}

.confirmationContent .foCardCheckout .v-expansion-panel, .v-expansion-panels, .paymentData{
    background-color:transparent;
}
.confirmationPrice{
    display:flex;
    flex-direction:row;
    gap:1rem;
    padding:1rem;
}
.confirmationPrice .priceVdetail{
    height:100%;
    display:flex;
    align-items:center;
}
.confirmationPrice .priceTable{
    width:50%;  
}
.confirmationContent .travelersRow{
    display:flex;
    justify-content: space-between;
}

.confirmationContent .travelerInfo{
    margin-top:.75rem;
}

.confirmationContent .recommendations .optionsContent{
    width:auto;
    gap:1rem;
}

.confirmationContent .recommendations .header .location{
    display:none;
}
.confirmationContent .recommendations .orientation{
    width:100%;
}

.confirmationContent .recommendations .optionsContent{
    flex-direction: row;
    width:100%;
}

.confirmationContent .recommendationCard{
    padding-bottom:0!important;
}

.confirmationContent .recommendations .v-radio-group .v-input__details{
    display:none;
}

.confirmationContent .recommendations .options{
    margin:0;
}

.confirmationContent .recommendations .itinerarie .cia{
    margin-left:.8rem;
}

.confirmationContent .recommendations .itinerarie .v-selection-control{
    display:none;
}

.confirmationContent .recommendations .detailTrigger{
    display:none;
}

.confirmationContent .recommendations .itinerarie .data .iata {
    display:inline-block;
    font-size:.8rem;
}
.confirmationContent .recommendations .confirmationSection{
    display:none;
}

.confirmationContent .itinerarie .departure, .confirmationContent .itinerarie .return {
    width: 56px;
    display: flex;
    flex-direction: column;
}
.mobileResizerCol{
    padding:0 1rem!important;
}

.travelersRow, .paymentInfo{
    padding:0 .6rem
}

.confirmationPage{
    padding:0 10%;
    padding-top:1%
}

.mobileButtons{
    background-color:$color-nav;
    color:$background-color;
    font-weight: 700;
}

@media screen and (min-width:1900px){
    .checkoutPage{
        padding:0 20%;
        padding-top:1%
    }
}
@media screen and (max-width:840px){

.confirmationContent .travelersRow{
    display:flex;
    flex-direction:column;
    gap:.2rem;
    justify-content: space-between;
}

.confirmationPage{
    padding:0 2%;
    padding-top:1%
}
.mobileResizerCol{
    padding:0!important;
}



}

@media screen and (max-width:640px){
    .mobileResizerCol{
        flex-direction:column!important;
        padding:.75rem;
    }
}


@media screen and (max-width:562px){
    .mobileButtons{
        width:100%;
        text-align:center;
    }
    .mobileButtons.v-btn.v-btn--density-default{justify-content: center!important;}
}

@media screen and (max-width:324px){
    .confirmationPage{
        padding:0%;
        padding-top:2%;
    }
}